*{
    margin: 0;
    padding: 0;
}
#map{
    width: 1200px;
    height: 600px;
    margin: 0 160px;
    background-color: gray;
    overflow: hidden;
}
#botton1{
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 600px;
    margin-top: 20px;
}
#botton2{
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 800px;
    margin-top: -30px;
}